@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Загальні стилі для сторінки */
body {
  font-family: 'Rufina', serif;
  margin: 0;
  padding: 0;
  background-color: #EBF0E4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

/* Центрування форми */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

/* Заголовок */
h2 {
  font-family: 'Rufina', serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: #000;
}

/* Підзаголовок */
.subtitle {
  font-family: 'Rufina', serif;
  font-size: 24px;
  text-align: center;
  color: #555;
  margin: 0 0 20px;
}

/* Форма */
.telegram-form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  width: 100%;
  display: flex;
}

/* Поля вводу */
input, textarea, select {
  width: 516px;
  height: 96px;
  padding: 30px 40px;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}

textarea {
  resize: none;
  width: 516px; /* Залишаємо ширину для textarea */
  margin-bottom: 20px; /* Додаємо відступ перед кнопкою */
}

.center-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрування по горизонталі */
  justify-content: center;
  width: 100%;
  margin-top: 6px;
}

input[type="file"] {
  padding: 20px 40px;
  font-size: 1rem;
}

/* Кнопка */
.btn {
  width: 344px;
  height: 88px;
  background-color: #233000;
  color: #fff;
  font-family: 'Rufina', serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: 20px auto 0;
  transition: background-color 0.3s;
  margin: 0 auto; /* Центруємо кнопку */
}

.btn:hover {
  background-color: #2e3b00;
}

/* Адаптивність */
@media (max-width: 768px) {
  input, textarea, select {
      width: 100%;
  }

  .btn {
      width: 100%;
  }
}