*{
    font-family: "Rufina";
}
.first1 {
    background-image: url("./imgs/Image\ \(6\).png") ;
    width: 1920px;
    height: 850px;
}
.header1 {
    width: 1920px;
    height: 208px;
}

.logo1 {
    position: absolute;
    width: 307px;
    height: 115px;
    left: 118px;
    top: 69px;}

.logo2 {
    position: absolute;
    width: 192px;
    height: 115px;
    left: 173px;
    top: 46px;
}
.buttonnav {
    position: absolute;
    width: 94px;
    height: 71px;
    left: 470px;
    top: 68px;}

.number {
    user-select: none;
    position: absolute;
    left: 1280px;
    top: 68px;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
}

.b0 {
    height: 88px;
    margin-top: 60px;
    margin-left: 1540px ;
    position: absolute;
}
.b1 {
    width: 238px;
    height:97px;
    margin-top: 242px;
    margin-left: 817px;
    padding: 10px 30px 10px 30px;
    gap: 10px;  
}

.p0 {
width: 1194px;
height: 212px;
top: 350px;
margin-left: 363px;
color: #FFFFFF;
font-size: 88px;
text-align: center;
margin-top: 20px;
}