*{
    font-family: "Rufina";
}
.first1 {
    background-image: url("./imgs/Image\ \(6\).png") ;
    width: 1920px;
    height: 850px;
}
.header1 {
    width: 1920px;
    height: 208px;
}

.logo1 {
    position: absolute;
    width: 307px;
    height: 115px;
    left: 118px;
    top: 69px;}

.logo2 {
    position: absolute;
    width: 192px;
    height: 115px;
    left: 173px;
    top: 46px;
}
.buttonnav {
    position: absolute;
    width: 94px;
    height: 71px;
    left: 470px;
    top: 68px;}

.number {
    user-select: none;
    position: absolute;
    left: 1280px;
    top: 68px;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
}

.b0 {
    height: 88px;
    margin-top: 60px;
    margin-left: 1540px ;
    position: absolute;
}
.b1 {
    width: 238px;
    height:97px;
    margin-top: 242px;
    margin-left: 817px;
    padding: 10px 30px 10px 30px;
    gap: 10px;  
}

.p0 {
width: 1194px;
height: 212px;
top: 350px;
margin-left: 363px;
color: #FFFFFF;
font-size: 88px;
text-align: center;
margin-top: 20px;
}
.second1 {
    height: 1000px;
}
.lorem01 {
    font-size: 27px;
    color: #4D4D4D;
    text-align: center;
    padding-top: 80px;
    line-height: 45px;
}
.img_gallery {
    padding-top: 80px;
    padding-left: 280px;
}
.lorem02 {
    color: #4D4D4D;
    font-size: 20px;
    text-align: center;
    padding-top: 80px;
}
.quote {
    padding-top: 80px;
}
.divider {
    padding-top: 60px;
}
.third1 {
    margin-top: 1150px;
    padding-left: 130px;
}
.related_posts {
    font-weight: 700;
    padding-left: 725px;
    font-size: 40px;
    padding-top: 30px;
}
.fea {
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 40px;
}
.blogpost {
    padding-top: 40px;
}
.blogpost1 {
    padding-left: 160px;
}
.rm {
    background: none;
    margin-top: 60px;
}
.rm1 {
    background: none;
    margin-left: 619px;
}
.footer {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #233000;
    padding: 20px;
    color: white;
    width: 1880px;
}

.footer-item {
    margin: 0 15px;
    padding: 30px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
}

.subscribe input {
    padding: 20px 200px 20px 20px;
    margin-right: 10px;
}

.subscribe button {
    padding: 20px;
    background-color: #5E6600; /* A lighter green for the button */
    color: white;
    border: none;
    cursor: pointer;
}

.subscribe button:hover {
    background-color: #859100; /* Darker green on hover */
}

.fototer_logo {
    font-size: 68px;
    max-width: 300px;
}
.footer_caption {
    font-size: 32px;
    padding-bottom: 20px;
}
.contact_text {
    max-width: 170px;
}

.undertext {
    font-size: 12px;
}
.subscribe_input {
 padding-bottom:20px ;
}

.footer_final {
    border-top: 2px dashed #ffffff; /* A green border for separation */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #233000;
    padding: 20px;
    color: white;
    width: 1880px;
}

.footer_final_text {
    padding-left: 30px;
}